@import '_variaveis.scss';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

/* resetando nosso css */
*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

/*Display Flex*/

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.inner-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 25px;
}
.one-column{
    width: 100vw;
}
.two-column{
    width: 50vw;
}
a{
    text-decoration: none;
    color: $preto;
}
ul, li{
    list-style: none;
}
.text-big{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}
.button{
    margin-top: 21px;
    border: none;
    background-color: $cor-secundaria;
    border-radius: 45px;
    padding: 15px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $transparente;
    transition: 1.5s;
}
.button:hover{
    color: $preto;
    transition: 1.5s;
    
}

@media screen and (max-width: $max-mobile){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .two-column{
        width: 100%;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
    }
    .inner-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
        align-content: center;
        
    }
    .button{
        color: $preto;
    }

}