@import 'base.scss';
@import '_variaveis.scss';

/* header */
.header{
    background-color: $cor-primaria;
    padding: 10px 50px;
}

.header .logo img{
    width: 50px;
    height: 50px;
}

.header .navbar{
    display: flex;
    gap: 20px;
}

/* banner */
.banner{
    background: url(https://lumiere-a.akamaihd.net/v1/images/sa_pixar_virtualbg_toystory_16x9_8461039f.jpeg);
    background-blend-mode: multiply ;
    background-size: cover;
    background-position: bottom;
    color: white;
    height: 90vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.item-img img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 1px 2px 10px black;
}


@media screen and (max-width: $max-mobile){
    .header .navbar{
        font-size: 22px;
    }
    .header img{
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
    }
    .banner img{
        margin: 15px;
        width: 300px;
    }
}



